<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Capstone</title>
</head>

<body>
  <h1>Log In</h1>
  <form class="login">
    <label class="login__label" for="email">Email</label>
    <input id="login-name" class="login__input" name="email" placeholder="Name..." />
    <label class="login__label" for="password">Password</label>
    <input id="login-password" class="login__input" name="password" placeholder="Password..." />
    <button id="login-submit">Submit</button>
  </form>
  <h2>Sign Up</h2>
  <form class="signup" action="/users" method="POST">
    <label class="login__label" for="name">Name</label>
    <input id="login-name" class="login__input" name="name" placeholder="Name..." />
    <label class="login__label" for="name">Email</label>
    <input id="login-email" class="login__input" name="email" placeholder="Email..." />
    <label class="login__label" for="password">Password</label>
    <input id="login-password" class="login__input" name="password" placeholder="Password..." />
    <button id="login-submit">Submit</button>
  </form>
</body>

</html>