<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/css/home.css" />
  <title>Capstone</title>
</head>

<body>
  <div class="container">
    {{> header buttons='buttons'}}
    <h1>Log In</h1>
    <form id="login-form" action="/login" method="POST">
      <label class="login__label" for="email">Email</label>
      <input id="login-email" class="login__input" type="text" name="email" placeholder="Name..." />
      <label class="login__label" for="password">Password</label>
      <input id="login-password" class="login__input" type="text" name="password" placeholder="Password..." />
      <button id="login-submit">Submit</button>
    </form>
    <h2>Sign Up</h2>
    <form id="signup-form" action="/users" method="POST">
      <label class="login__label" for="name">Name</label>
      <input id="login-name" class="login__input" type="text" name="name" placeholder="Name..." />
      <label class="login__label" for="name">Email</label>
      <input id="login-email" class="login__input" type="text" name="email" placeholder="Email..." />
      <label class="login__label" for="password">Password</label>
      <input id="login-password" class="login__input" type="text" name="password" placeholder="Password..." />
      <button id="login-submit">Submit</button>
    </form>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/js/requestHandlers/navbarRequests.js"></script>


</body>

</html>