<header class="header">
  <nav class="nav">
    <div class="nav__container">
      <button id="signup-cta" class="nav__button">Sign Up</button>
    </div>
    <div class="nav__container">
      <button id="login-cta" class="nav__button">log In</button>
    </div>
  </nav>
</header>