html {
  background-color: silver;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  background-color: lightslategray;
  width: 80%;
  max-width: 1400px;
  height: 5vh;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: aqua; */
  width: 95%;
}

.nav__container {
  display: flex;
  align-items: center;
  height: 80%;
  margin-right: 5px;
}

.nav__button {
  height: 90%;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  background: none;
  color: silver;
}

.nav__button:hover {
  cursor: pointer;
  background-color: gray;
}
